.popup__bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
}
.popup__bg.active{
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;

}
.popup__modal{
    position: absolute;
    left: 0;
    top: 0;
    background: #1e1e1e;
    width: 250px;
    height: 100vh;
    padding: 10px 25px;
    transition: 1s all;
    transform: translate(0%,0%) scale(0);
    
}

.popup__modal.active{
    transform: translate(0%,0%) scale(1);
    transition: 1s all;

}

.popup__navigation-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup__navigation{
    display: flex;
    align-items: center;
    margin: auto;

}

.popup__navigation-text{
    font-size: 18px;
    color: #FFF;
    margin-left: 10px;
    font-weight: 600;
    

}

.popup__info{
    margin-top: 30px;
}

.popup__info-text{
    margin-top: 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.popup__block{
    margin-top: 30px;
    
}

.popup__block-account{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid rgb(155, 152, 152);
    
}
.block-account-text{
    color: #FFF;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    
}

.popup__block-button{
    margin-top: 30px;
    
}

.block-button-signin,.block-button-signup{
    font-weight: 600;
    color: #FFF;
    font-size: 16px;
    border: none;
    background-color: transparent;
    display: block;
    margin-top: 15px;
    cursor: pointer;
}