.container__oil{
    width: 1284px;
    margin: auto;
    display: flex;
}

.main__oil-blocks{
  grid-gap: 50px;
  width: 1000px;

}
.main__oil-block{
    
}

.menu__search{
    width: 284px;
    margin-top: 50px;
}

.menu__search-title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 19px;
    color: #333333;
    margin-top: 15px;

}
.menu__search__block{
    margin-top: 15px;
}

.checkbox__label{
    font-size: 20px;
}

.strelka{
    width: 100%;
    height: 3px;
    margin-top: 55px;
    background: #F3B714;
}

.menu__search-range{
    margin-top: 15px;
}


