
/* Форма регистрации */

.signup__bg{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      pointer-events: none;
}

.signup__modal{
      position: absolute;
      right: 50%;
      bottom: 50%;
      background: #fdfdfd;
      width: 600px;
      height: auto;
      transition: 1s all;
      transform: translate(50%,50%);
      border-radius: 10px;
}

.signup__navigation-close{
      position: absolute;
      right: 10px;
      top: 10px;
}

.signup__bg.active{
      opacity: 1;
      pointer-events: all;
      transition: 0.5s all;
  
  }
.signup__modal.active{
      transform: translate(0%,0%) scale(1);
      transition: 1s all;
  
  }



#form{
    padding-top: 25px;
}
  
.btn__form {
      padding: 10px;
      margin-top: 25px;
      width: 80%;
      background: #262626;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
      border: none;
      
}
  
.btn__form:hover{
      background: #F3B714;
    color: #FFFFFF
}
  
.input-control {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      margin: auto;
      
      
  
 }

 .main__title{
       text-align: center;
       padding: 10px 0;
 }

.input__signup{
    box-shadow: 0 0 2px #8b8b8b;
    margin-top: 15px;
    
}
  
.input-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-size: 12px;
      padding: 10px;
      width: 80%;
      margin: auto;
}
  
.input-control input:focus {
      outline: 0;
}
  
.input-control.success input {
      border:2px solid #09c372;
}
  
.input-control.error input {
      border:2px solid #ff3860;
}
  
.input-control .error {
      color: #ff3860;
      font-size: 16px;
      height: 13px;
}



label{
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #767676;
      
} 

.main__block{
      margin: auto;
      border: 1px solid black;
      width: 80%;
}