/* 
/* Форма регистрации */

.main__form{
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
}
 .container__form{
    width: 886px;
    margin: auto;
}

.form_width{
      width: 100%;
      height: 3px;
      background-color: #F3B714;
      margin-top: 55px;
}

.main__form-title{
    text-align: center;
    padding-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #01A9D8;
  
}
#form{
    padding-top: 25px;
}
  
.btn__form {
      padding: 10px;
      margin-top: 25px;
      width: 100%;
      background: #262626;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
      border: none;
}
  
.btn__form:hover{
      background: #F3B714;
    color: #FFFFFF
}
  
.input-control {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      
  
 }

.input__signup{
    box-shadow: 0 0 10px #8b8b8b;
    margin-top: 15px;
    
}
  
.input-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-size: 12px;
      padding: 10px;
      width: 100%;
}
  
.input-control input:focus {
      outline: 0;
}
  
.input-control.success input {
      border:2px solid #09c372;
}
  
.input-control.error input {
      border:2px solid #ff3860;
}
  
.input-control .error {
      color: #ff3860;
      font-size: 16px;
      height: 13px;
}

label{
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #767676;
} */
