.signin__bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
}
.signin__modal{
    position: absolute;
    right: 50%;
    top: 10%;
    background: #fdfdfd;
    width: 500px;
    height: 500px;
    transition: 1s all;
    transform: translate(50%,50%);
    border-radius: 10px;
    
}

.input-control {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    

}

.button{
    width: 400px;
    margin: auto;
}


